<div style="background-color:powderblue;">
   <h4 class="card-title" style="text-align:center;color: blue;">FORM</h4>
   <form [formGroup]="form" (ngSubmit)="onSubmit()">
       <table>
           <tbody>
               <tr>
                   <td> <label for="firstname">First name *: </label></td>
                   <td> <input type="text" placeholder="firstname is required" id="firstname" name="firstname" formControlName="firstname"><br><br></td>
               </tr>
               <tr>
                   <td> <label for="lastname">Last name *: </label></td>
                   <td> <input type="text" placeholder="lastname is required" id="lastname" name="lastname" formControlName="lastname"><br><br></td>
               </tr>
               <tr>
                   <td><label for="dob">Date Of Birth *: </label></td>
                   <td><input type="date" id="dob" name="dob" formControlName="dob"> <br><br></td>
               </tr>
               <tr>
                   <td><label>Gender *: </label></td>
                   <td><input id="male" type="radio" value="male" name="gender" formControlName="gender">
                       <label for="male">Male</label>

                       <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                       <label for="female">Female</label>

                       <input id="other" type="radio" value="Other" name="gender" formControlName="gender">
                       <label for="other">Other</label>
                   </td>
               </tr>
               <tr>
                   <td> <label>Email *: </label> </td>
                   <td>
                       <input type="text" placeholder="xyz@domain.com " name="Email " formControlName="Email">
                   </td>
               </tr>

               <tr>
                   <td><label>Phone Number: *</label></td>
                   <td><input type="text " placeholder="+91" name="Phonenumber " formControlName="Phonenumber"></td>
               </tr>

               <tr>
                   <td><label for="pass">Password (8 characters minimum):</label></td>
                   <td><input type="password" id="pass" name="password" minlength="8"></td>
               </tr>
           </tbody>
           <br><button type="submit" [disabled]="!form.valid"> Submit </button><br>
       </table>
   </form>

   <p>{{firstname}}</p>
   <p>{{lastname}}</p>
   <p>{{dob}}</p>
   <p>{{gender}}</p>
   <p>{{Email}}</p>
   <p>{{Phonenumber}}</p>
</div>
<!-- <p>{{Submit}}</p> -->

